<!-- country.search-input -->
<!-- Cuando se escribe se captura el evento (value) emitido por el componente hijo 
    y ejecuta el método onSearch($event) del componente padre ByCapitalPageComponent.-->
<!-- <country-search-input placeholder="Buscar por capital"
(value)="onSearch($event)"/>  -->
<country-search-input
  placeholder="Buscar por capital"
  (value)="query.set($event)"
  [debounceTime]="350"
  [initialValue]="query()"
/>

<country-list
  [countries]="countryResource.value() ?? []"
  [errorMessage]="countryResource.error()"
  [isEmpty]="countryResource.value()?.length === 0"
  [isloading]="countryResource.isLoading()"
/>
